.meta-post {
    background: #fff;
    text-align: left;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
}

.insta-post {
    margin-bottom: 15px;
}

.profile-pic-post {
    object-fit: cover;
    width: 4vh;
    height: 4vh;
    margin-right: 10px;
}

.username-link {
    text-decoration: none;
    color: black;
}