<main>
    <article class="homepage-wrapper">
        <div class="image-container">
            <div class="image-list">
                <img src="https://www.instagram.com/static/images/homepage/screenshots/screenshot1.png/fdfe239b7c9f.png" alt="" class="image-hidden image-blur-out">
                <img src="https://www.instagram.com/static/images/homepage/screenshots/screenshot2.png/4d62acb667fb.png" alt="" class="image-hidden image-show">
                <img src="https://www.instagram.com/static/images/homepage/screenshots/screenshot3.png/94edb770accf.png" alt="" class="image-hidden">
                <img src="https://www.instagram.com/static/images/homepage/screenshots/screenshot4.png/a4fd825e3d49.png" alt="" class="image-hidden">
            </div>

        </div>
        <div class="form insta-form">
            <div class="sign-in">
                <div class="logo-container">
                    <div ria-disabled="false" role="button" tabindex="0" style="cursor: pointer;">
                        <img src="https://www.instagram.com/static/images/web/logged_out_wordmark.png/7a252de00b20.png" srcset="/static/images/web/logged_out_wordmark-2x.png/d2529dbef8ed.png 2x" alt="instagram">
                    </div>
                </div>
                <div class="sign-in-form-container">
                    <%= render "devise/sessions/new.html.erb" %>
                </div>
            </div>
            <div class="sign-up">

            </div>
            <div class="platforms">

            </div>

        </div>
    </article>
</main>